# Local Virtual Environment (no need to upload to GitHub)
myenv/

# Python Cache Files
__pycache__/
*.pyc
src/__pycache__/

# Log Files
logs/*.log

# Editor and System Files
.vscode/
.DS_Store
Thumbs.db

# ==========================================================
# Day 16: Security Protection (Never upload user resumes)
# ==========================================================
data/temp_uploads/*
data/uploads/*
*.log
logs/

.env
.streamlit/secrets.toml